In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
data=pd.read_csv('train.csv')

In [11]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [12]:
data=pd.get_dummies(data)

In [13]:
train=data[0:7999]

In [14]:
test=data[8000:]

In [15]:
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
8000,7.02,0.081329,150.0734,2002,4454.2020,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8001,7.42,0.020388,247.1092,2004,4233.1564,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8002,17.25,0.113518,253.5724,1997,5033.4480,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8003,18.75,0.052917,190.6504,2002,1342.2528,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8004,20.25,0.018911,220.5772,2007,2446.1492,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [16]:
 x_train=train.drop('Item_Outlet_Sales',axis=1)

In [17]:
y_train=train['Item_Outlet_Sales']

In [18]:
x_test=test.drop('Item_Outlet_Sales',axis=1)

In [19]:
truep_test=test['Item_Outlet_Sales']

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lreg=LinearRegression()

In [22]:
x_train=pd.get_dummies(x_train)

In [23]:
x_train

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,10.50,0.027276,171.3106,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
7995,12.85,0.152748,252.0382,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
7996,NaN,0.060707,127.5020,1985,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0
7997,6.36,0.120788,45.7060,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
7998,NaN,0.076852,111.8570,1985,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0

In [24]:
x_train.fillna(0,inplace=True)

In [25]:
x_test.fillna(0,inplace=True)

In [26]:
lreg.fit(x_train,y_train)

LinearRegression()

In [27]:
pred=lreg.predict(x_test)

In [28]:
lreg.score(x_test,truep_test)

0.40023432603603193

In [29]:
lreg.score(x_train,y_train)

0.6476767165384029

In [30]:
rmse_test=np.sqrt(np.mean(np.power((np.array(truep_test)-np.array(pred)),2)))

In [31]:
rmse_train=np.sqrt(np.mean(np.power((np.array(y_train)-np.array(lreg.predict(x_train))),2)))

In [42]:
print(rmse_test)

1257.5357121869652

In [43]:
print(rmse_train)

1016.0320399711358

In [44]:
df=pd.read_csv('train.csv')

In [45]:
df=pd.get_dummies(df)

In [46]:
train=df[0:799]

In [47]:
test=df[799:890]

In [48]:
df=pd.read_csv('Titanic.csv')

In [49]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [52]:
df=pd.get_dummies(df)

In [54]:
train=df[0:799]

In [55]:
test=df[799:890]

In [57]:
a_train=train.drop('Survived',axis=1)

In [59]:
b_train=train['Survivied']

KeyError: 'Survivied'